BODY{
  margin:0;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
}

H1{

}

A{
  color:#339933;
}

DIV#contenedor{
  margin:0 auto;
}

DIV#cabecera H1{
  margin:0;
  padding:0;
  font-size:22px;
  color:gray;
}

DIV#cabecera{
  width:100%;
  /*border:1px solid #cccccc;*/
  /*padding:10px;*/
  background-color:#EEEEEE;

}

DIV#menu ul, DIV#menu li{
  margin-left:10px;
  padding:0;
}


DIV#menu{
  width:200px;
  overflow:hidden;
  float:right;
  padding:5px;
  background-color:#FDF7F2;
  border:1px dashed #CCCCCC;
}

DIV#contenido{
  width: 600px;
  
  padding:15px;
  float:left;
  border-left:1px solid #CCCCCC;
}

DIV#pie{
  clear:both;
  border-top:1px solid #CCCCCC;
  text-align:left;
  width: 100%;
  background-color:#EEEEEE;
  padding:5px;
}

TH{
  background-color:#EEEEEE;
  padding:0 3px 0 3px;
}

TD{
  border-bottom:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  padding:2px;
}

label {
  width: 60px;
  display: block;
  float: left;
  text-align:left;
}

DIV#formbutton {
  margin-left: 100px;
}

DIV#mensaje{
  margin: 10px;
  color:#FF0000;
}
DIV#boton_formulario{
  width:205px;
}
DIV#boton_formulario INPUT{
  float:left;
}

DIV#logueado{
}

DIV#noticia{
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom:2em;
    /*background:#FEFDFC;*/
}

DIV#noticia-titulo{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-weight:bold;
  line-height:1.5em;
  font-size:20px;
}
DIV#noticia-fecha{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  padding-bottom:6px;
}
DIV#pagina-titulo{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-weight:bold;
  line-height:1.5em;
  font-size:20px;
}
DIV#pagina-contenido{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  padding-bottom:6px;
}

DIV#login{
  text-align:center;

}
DIV#login-form{
  text-align:left;

}

TABLE.mensaje{
	margin:0 auto;
	text-align:center;
}

TD.mensaje-error{
	padding:3px 8px 3px 8px;
	border:1px solid #ff0000;
	background-color:#ffecec;
}

TD.mensaje-exito{
	padding:3px 8px 3px 8px;
	border:1px solid #89cb59;
	background-color:#c3f89c;
}

TD.mensaje-informativo{
	padding:3px 8px 3px 8px;
	border:1px solid #c9c54d;
	background-color:#fffb96;
}

/*Menu horizontal  */
.menu-opciones {
    font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.error-campo-formulario{
  font-family:Verdana,Arial,Helvetica,sans-serif;
  font-weight:bold;
  color:#ff0000;
}

.menu-opciones ul, li {
    list-style-type: none;
}

.menu-opciones ul {
    margin: 0;
    padding: 0;
}

.menu-opciones li {
    float: left;

}

.menu-opciones a {
    text-decoration: none;
    font-weight: bold;
    color: #DF7E2F;
    background: #FDF7F2;
    display: block;
    padding: 3px 10px;
    text-align: center;
    border: 1px solid #F7DECA;
    border-width: 1px 1px 1px 0;
}


.menu-opciones a#primero {
    border-left: 1px solid #F7DECA;
}

.menu-opciones a:hover {
    background: #F7DECA;
}
/*fin menu */

/*Capa para contrasetar los efectos de float y hacer de 'falso contenido' para que el menu opciones quede contenido en la capa noticia.*/
.div-reset{
    clear:both;
    margin-bottom:1em;
}
/*fin reset*/

/********************************* LiveValidation *************************************/

.LV_valid {
    color:#00CC00;
}

.LV_invalid {
	color:#CC0000;
}

.LV_validation_message{
    font-weight:bold;
    margin:0 0 0 5px;
}

.LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
    border: 1px solid #00CC00;
}

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}


/********** Error reporting ************/

.fieldWithErrors, .fieldWithNoErrors, .fieldWithNoActivityYet {
  /*padding: 2px;*/
  background-color: transparent;
  /*display: table;*/
  /*float:left;*/
  /*margin-bottom:10px;*/
}

.fieldWithErrors {
  /*background-color: #ffcccc;*/
}

.fieldWithNoErrors {
  /*background-color: #C6E0B0;*/
}

.fieldWithErrors input, .fieldWithErrors select, fieldWithErrors textarea {
  /*background-color: #ffcccc;*/
  border-color:#CC0000;
}

p.matchFieldWithErrorReporting {
  /*padding-left:2px;*/
}

#errorExplanation {
  /*width: 98%;*/
  border: 2px solid #ffcccc;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: #ff0000;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 110%;
  margin: -7px;
  background-color: #fff;
  color: #ff0000;
  letter-spacing:-1px;
}

#errorExplanation ul {
  padding-left:20px;
}

#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* NUEVO MENU HORIZONTAL */
 
/*Credits: By Santosh Setty (http://webdesigninfo.wordpress.com) */
/*Posted to: Dynamic Drive CSS Library (http://www.dynamicdrive.com/style/) */

.glossymenu{
	position: relative;
	padding: 0 0 0 34px;
	margin: 0 auto 0 auto;
	background: url(images/menub_bg.gif) repeat-x; /*tab background image path*/
	height: 46px;
	list-style: none;
}

.glossymenu li{
	float:left;
}

.glossymenu li a{
	float: left;
	display: block;
	color:#000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding:0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;	
}

.glossymenu li a b{
	float: left;
	display: block;
	padding: 0 24px 0 8px; /*Padding of menu items*/
}

.glossymenu li.current a, .glossymenu li a:hover{
	color: #fff;
	background: url(images/menub_hover_left.gif) no-repeat; /*left tab image path*/
	background-position: left;
}

.glossymenu li.current a b, .glossymenu li a:hover b{
	color: #fff;
	background: url(images/menub_hover_right.gif) no-repeat right top; /*right tab image path*/
}

/* Resetea los valores de label`s creados con los formularios Zend_Dojo*/
DL.zend_form dt label{
  display: inherit ;
  float:inherit;
  text-align:inherit;
  width:200px;
}
